@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-start-rgb: 42, 46, 54;
    --background-end-rgb: 42, 46, 54;
    --background-rgb: #131518;
  }
}

a:hover {
  scale: 1.1;
  transition: ease-in;
  transition: ease-out;
  transition-duration: 200ms;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer components {
  .nav_color {
    @apply bg-[rgb(30,33,39)]
  }

  .bg_color {
    @apply bg-[#1a1c1f]
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .rounded-border {
    border-radius: 15px;
    border: 2px solid;
    border-color: #e4cb9d;
  }

  .dark-blue-gold {
    @apply bg-[#e4cb9d];
    color: #202020;
    font-weight: bold;
    font-size: 15px;
  }

  .flex-center-column {
    display: flex;
    width: full; 
    max-width: max-w-5xl; 
    justify-content: center;
    font: font-mono;
    flex-direction: column;
  }
}